
//Breakpoints
@mixin breakpoint($breakpoint) {
  $value: map-get($breakpoints, $breakpoint);
  @if $value != null {
    @media (min-width: $value) {
      @content;
    }
  }
  // If the key doesn't exist in the map
  @else {
    @warn "Unfortunately, no value could be retrieved from `#{$breakpoint}`. "
        + "Please make sure it is defined in `$breakpoints` map.";
  }
}

////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////



// GRID

//--UTILITIES
@mixin flex-parent($justify, $align, $wrap)                     { display: flex; justify-content: $justify; align-items: $align; flex-wrap: $wrap; }

@mixin flex-children($s, $m, $l)                                { flex: 1 1 $s;
  @include breakpoint (tablet)                                  { flex: 1 1 $m;}
  @include breakpoint (laptop)                                  { flex: 1 1 $l;} 
}

%fl-center                                                      { display: flex; align-items: center; justify-content: center; }
%fl-start                                                       { display: flex; align-items: center; justify-content: flex-start; }
%fl-end                                                         { display: flex; align-items: center; justify-content: flex-end; }    
%fl-col                                                         { flex-direction: column; }   

  
//--PARENT TAGS
@mixin row($just,$wrp)                                          { @include flex-parent($just, center, $wrp); width: 100%; }


//--CHILDREN TAGS
// Easy columns
@mixin col-1                                                    { @include flex-children( 100%, 100%, 100% ); @extend %fl-center; }
@mixin col-2                                                    { @include flex-children( 100%, 47%, 47% ); @extend %fl-center; }
@mixin col-3                                                    { @include flex-children( 100%, 31%, 31% ); @extend %fl-center; }
@mixin col-4                                                    { @include flex-children( 100%, 23%, 23% ); @extend %fl-center; }
@mixin col-5                                                    { @include flex-children( 100%, 19%, 19% ); @extend %fl-center; }
@mixin col-6                                                    { @include flex-children( 50%, 20%, 16% ); @extend %fl-center; }
@mixin col-7                                                    { @include flex-children( 50%, 20%, 14% ); @extend %fl-center; }
@mixin col-8                                                    { @include flex-children( 50%, 20%, 12% ); @extend %fl-center; }
@mixin col-9                                                    { @include flex-children( 50%, 20%, 11% ); @extend %fl-center; }
@mixin col-10                                                   { @include flex-children( 50%, 20%, 10% ); @extend %fl-center; }

// Major columns
@mixin col-m7                                                   { @include flex-children( 100%, 47%, 69% ); @extend %fl-center; }
@mixin col-m6                                                   { @include flex-children( 100%, 74%, 74% ); @extend %fl-center; }
@mixin col-m5                                                   { @include flex-childtren( 100%, 79%, 79% ); @extend %fl-center; }

//Custom column
@mixin col-c($s, $m, $l)                                        { @include flex-children($s, $m, $l); @extend %fl-center; }

////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////

//== RESPONSIVE GRID

.gallery                          {
  > .panel                        {
    .m-galleries-list                   {
      &__items                    { display: flex; flex-wrap: wrap; height: 300px;
        .panel                    { background: red; position: relative;
          &__header                 { text-align: left; padding-left: 20px; padding-top: 30px; text-transform: uppercase; font-weight: lighten; color: white; }
          &__body                 {
            p a                 { position: absolute; left: 20px; bottom: 20px; border: 1px solid white; text-transform: uppercase; }
          }
        }
        .panel,
        &__item                   { flex: 1 1 50%; margin: 0!important; padding: 0; border-radius: 0; width: unset; height: unset; height: 150px; 
          &__image                { border: none; }
          &:nth-child(n+5)            { display: none; }
        }

        @include breakpoint(phablet)        { height: 400px; 
          .panel,
          &__item                 { flex: 1 1 30%; height: 200px;
            &:nth-child(n+5)          { display: block; }
            &:nth-child(n+7)          { display: none; }
          }
        }

        @include breakpoint (tablet)        { height: 450px; max-height: 450px!important;
          .panel,
          &__item                 { flex: 1 1 24%; height: 225px;
            &:nth-child(n+7)          { display: block; }
            &:nth-child(n+9)          { display: none; }
          }
        }

        @include breakpoint (laptop)        { height: 450px; 
          .panel,
          &__item                 { flex: 1 1 17%; height: 225px;
            &:nth-child(n+9)          { display: block; }
            &:nth-child(n+11)           { display: none; }
          }
        }

        @include breakpoint (desktop)         { height: 450px; 
          .panel,
          &__item                 { flex: 1 1 15%; height: 225px;
            &:nth-child(n+11)           { display: block; }
            &:nth-child(n+13)           { display: none; }
          }
        }
      }
    }
    .m-galleries-list__pagination             { display: none; }
  }
}

