//--UTILITIES

@mixin flex-parent($justify, $align, $wrap)                     { display: flex; justify-content: $justify; align-items: $align; flex-wrap: $wrap; }

@mixin flex-children($s, $m, $l)                                { flex: 1 1 $s;  
  @include breakpoint (tablet)                                  { flex: 1 1 $m; }
  @include breakpoint (laptop)                                  { flex: 1 1 $l; } 
}

%fl-center                                                      { display: flex; align-items: center; justify-content: center; }
%fl-start                                                       { display: flex; align-items: center; justify-content: flex-start; }
%fl-end                                                         { display: flex; align-items: center; justify-content: flex-end; } 
%fl-col                                                         { flex-direction: column; }   
  






